body {
  background-color: black;
  color: white;
  background-image: url(../logoGray.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh; /* Setzt die Höhe des Bodys auf 100% der Viewport-Höhe */
  margin: 0; /* Entfernt den Standardmargin des Bodys */
}

.statistics table {
  font-family: Arial, sans-serif;
  border: 1px solid white;
  box-shadow: white 0px 0px 20px;
  border-radius: 8px; /* optional, to add rounded corners */
}

.statistics th,
.statistics td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.statistics tr {
  text-align: left;
  background-color: black;
}

.statistics thead {
  color: white;
}
